:root {
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding: 0;
}
.container{
    margin: 0 170px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.half-width {
  width: 50%;
}
.focus-title {
  line-height: 35px;
  font-family: "Yeseva One", cursive;
  font-size: 30px;
  border-left: 3px solid #ff5959;
  padding-left: 10px;
}

.half-width img {
  width: 75%;
  margin-left:80px;
}
.orange {
  color: rgb(231, 162, 35);
}
.link{
    text-decoration: none;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(236, 96, 71), rgb(235, 79, 79));
}
.mission-title{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.mission-description{
    margin: 0;
    padding: 20px;
    width: 250px;
    height: 280px;
    border-radius: 10px;
}
.illustrator{
    width: 35%;
} 
.mission{
    background: #4f9da627;
}
.vision{
    background: #ff59591a;

}
.goal{
    background: #FFF4D6;
}
.limit-global-container{
    margin: 50px 0;
}
.title-container{
    width: 500px;
}
.title3{
    font-size: 25px;
    font-weight: 700;
}
.img-container{
width: 40%;
}
.img-container img{
    width: 100%;
}
.contact{
    background: rgba(158, 186, 223, 0.377);
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 10px;
    text-align: center;
    background-image: url('./images/pictures/pexels-alex-andrews-821754.jpg');
    background-size: cover;
}
.contact a{
    margin-left: 10px;
    text-decoration: none;
    vertical-align: center;
}
.contact img{
    width: 3%;
    color: white;
}
.footer{
    padding: 20px;
    height: 120px;
    background: black;
    color: white;
    text-align: center;
}
.footer-title{
    font-family: 'Lobster', cursive;
}
.footer p{
    font-family:'Manrope', sans-serif; ;
}